<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-7" *ngFor="let item of book">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item.author }}</h6>
          <p class="card-text">{{ item.description }}</p>
          <p class="card-text">Értékelés: {{ item.avgRating }} </p>
          <a class="card-link" (click)="submitBookId(item._id)">Bővebben</a>
        </div>
      </div>
    </div>
  </div>
</div>
