<div class="container-md">
  <form action="" [formGroup]="loginForm">
    <label for="inputPassword5" class="form-label">Username</label>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="username">
    </div>
    <label for="inputPassword5" class="form-label">E-mail</label>
    <label for="inputPassword5" class="form-label" >Password</label>
    <div class="input-group mb-3">
      <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" formControlName="password">
    </div>
    <button type="button" class="btn btn-success">Regisztráció</button>
    <button type="button" class="btn btn-success">Bejelentkezés</button>
  </form>
</div>
